

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">





    <div class= "create-list-link">
      <%= link_to 'Create a new list', new_list_path, class: 'button buttonpurple' %>
    </div>

<%# card component %>
<div class ="card-container">
  <% @lists.each do |list| %>
  <div class="card-list">
    <div class="image-container">
      <% if list.photo.attached? %>
        <%= image_tag list.photo, height: 300, width: 460, crop: :fill, class: "profile-image" %>
      <% else %>
        <img class="profile-image" src="https://picsum.photos/200/300" alt="Place-holder-images">
      <% end %>
    </div>


    <div class="card-stats">
      <h2><%= list.name %></h2>
      <p><%= list.bookmarks.count %> Movie(s)</p>
    <div class="card-text">
      <span class="date">Created: 1/22/2022 </span>
    </div>
    </div>
      <%= link_to 'See inside list', list_path(list), class: 'btn btn-secondary' %>
  </div>
   <% end %>
</div>
