

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">

<div class= "create-list-link">
  <%= link_to 'Create a new list', new_list_path, class: 'button buttonpurple' %>
</div>

<div class="flex-container">
  <% @lists.each do |list| %>
    <div class="card" style="width: 18rem;">
    <% if list.photo.attached? %>
    <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
    <%# image hosting %>
      <img class="card-img-top" src="https://picsum.photos/200/300?random=1" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= list.name %></h5>
        <h5 class="inside"><%= list.bookmarks.count %> Movie(s)</h5>
        <%= link_to 'See inside list', list_path(list.id), class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
