

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">

<div class= "create-list-link">
  <%= link_to 'Create a new list', new_list_path, class: 'button buttonpurple' %>
</div>




<div class="flex-container">
  <% @lists.each do |list| %>
    <div class="card" style="width: 18rem;">
    <%# image hosting %>
     <%# <img class="card-img-top" src="ttp://placekitten.com/200/300" alt="Card image cap"> %>
    <% if list.photo.attached? %>
      <img class="card-img-top" <%= image_tag list.photo, height: 300, width: 500, crop: :fill %>
    <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= list.name %></h5>
        <h5 class="inside"><%= list.bookmarks.count %> Movie(s)</h5>
        <%= link_to 'See inside list', list_path(list), class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>

<%# card component %>
<div class ="card-container">
  <div class="card-list">
    <div class="card-image"></div>
     <img src="http://placekitten.com/200/300" alt="Card image cap">
    <div class="card-text"></div>
      <span class="date">6 days ago</span>
    <div class="card-stats"></div>
    <h2>Post One</h2>
    <p>Some kind of description</p>
  </div>


  <div class="card-list">
    <div class="card-image"></div>
      <img src="http://placekitten.com/200/300" alt="Card image cap">
    <div class="card-text"></div>
      <span class="date">6 days ago</span>
    <div class="card-stats"></div>
    <h2>Post One</h2>
    <p>Some kind of description</p>
  </div>



  <div class="card-list">
    <div class="card-image"></div>
      <img src="http://placekitten.com/200/300" alt="Card image cap">
    <div class="card-text"></div>
      <span class="date">6 days ago</span>
    <div class="card-stats"></div>
    <h2>Post One</h2>
    <p>Some kind of description</p>
  </div>



  <div class="card-list">
    <div class="card-image"></div>
      <img src="http://placekitten.com/200/300" alt="Card image cap">
    <div class="card-text"></div>
      <span class="date">6 days ago</span>
    <div class="card-stats"></div>
    <h2>Post One</h2>
    <p>Some kind of description</p>
  </div>

  <div class="card-list">
    <div class="card-image"></div>
      <img src="http://placekitten.com/200/300" alt="Card image cap">
    <div class="card-text"></div>
      <span class="date">6 days ago</span>
    <div class="card-stats"></div>
    <h2>Post One</h2>
    <p>Some kind of description</p>
  </div>

    <div class="card-list">
    <div class="card-image"></div>
      <img src="http://placekitten.com/200/300" alt="Card image cap">
    <div class="card-text"></div>
      <span class="date">6 days ago</span>
    <div class="card-stats"></div>
    <h2>Post One</h2>
    <p>Some kind of description</p>
  </div>

  <div class="card-list">
    <div class="card-image"></div>
      <img src="http://placekitten.com/200/300" alt="Card image cap">
    <div class="card-text"></div>
      <span class="date">6 days ago</span>
    <div class="card-stats"></div>
    <h2>Post One</h2>
    <p>Some kind of description</p>
  </div>

    <div class="card-list">
    <div class="card-image"></div>
      <img src="http://placekitten.com/200/300" alt="Card image cap">
    <div class="card-text"></div>
      <span class="date">6 days ago</span>
    <div class="card-stats"></div>
    <h2>Post One</h2>
    <p>Some kind of description</p>
  </div>


  <div class="card-list">
    <div class="card-image"></div>
      <img src="http://placekitten.com/200/300" alt="Card image cap">
    <div class="card-text"></div>
      <span class="date">6 days ago</span>
    <div class="card-stats"></div>
    <h2>Post One</h2>
    <p>Some kind of description</p>
  </div>



  <div class="card-list">
    <div class="card-image"></div>
      <img src="http://placekitten.com/200/300" alt="Card image cap">
    <div class="card-text"></div>
      <span class="date">6 days ago</span>
    <div class="card-stats"></div>
    <h2>Post One</h2>
    <p>Some kind of description</p>
  </div>
</div>
