<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= @list.name %></h5>
      <%= link_to 'Add to list',  new_list_bookmark_path(@list) %> |
      <%= link_to 'Back to lists', lists_path %>
    </div>
  </div>



<% @list.bookmarks.each do |bookmark| %>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src=<%= bookmark.movie.poster_url %> alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= bookmark.movie.title %></h5>
    <P class= "card-title"><%= bookmark.comment %></P>
    <%= link_to 'Details', movie_path(bookmark.movie.id) %>
  </div>
</div>
<% end %>
